<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<h1>Welcome to Index Page !</h1>
	<div th:include="import/thymeleaf-template-test::datetime">datetime</div>
	<div th:include="include/notice::notice">notice</div>
	<form action="#" method="post" th:object="${it.data()}">
		<input type="hidden" name="csrfToken" th:value="*{csrfToken}" />
		<div th:if="${it.error('name')}"><span th:text="${it.error('name').message()}">name error</span></div>
		<div>name：<input type="text" name="name" th:value="*{name}" /></div>
		<div th:if="${it.error('email')}"><span th:text="${it.error('email').message()}">email error</span></div>
		<div>email:<input type="text" name="email" th:value="*{email}" /></div>
		<div><input type="submit" /></div>
	</form>
</body>
</html>
